/*HOME*/

.title {
	background-color: navy;
	color: white;
	padding-top: 12px;
	padding-bottom: 16px;
	position: relative;
}

.title-nav {
	position: absolute;
	right: 8px;
	top: 8px;
}

.title-nav-pill:not(:hover) {
	color: white;
}

.parent {
	margin-left: 10%;
	margin-right: 10%;
}

.textarea-home {
	width: 80%;
}

#key-input {
	font-family: monospace;
}

.center {
	text-align: center;
}

.dropdown-bar {
	display: flex;
	flex-wrap: wrap;
}

.dropdown-container {
	display:flex;
	flex-direction: row;
	width: 320px;
}

.dropdown-label {
	margin-top: 5px;
}

#textarea-output {
	margin: 0px auto;
	border: 1px solid black;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 1px;
}

#save_button {
	margin-bottom: 50px;
}

.dropdown-cara {
	width: 100%;
}

.doc-image {
	height: 56px;
}

.doc-text {
	height: 32px;
}

.footnote-number {
	vertical-align: top;
	padding-right: 8px;
}

.keyboard {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.keyboard-btn {
	padding: 0px;
	position: relative;
}

.keyboard-img {
	height: 40px;
	padding-right: 8px;
}

.keyboard-label {
	position: absolute;
	bottom: 0px;
	right: 2px;
	color: blue;
	font-family: monospace;
}

.keyboard-row {
	margin-bottom: 8px;
}